# Configuration file

options {
    # Set this to false to disallow players to activate night vision without having the potion effect when looking through cameras.
    B:"Allow Camera Night Vision"=true
    B:"Allow claiming unowned blocks?"=false
    B:"Are mines breakable?"=true
    B:"Are mines unbreakable?"=true
    D:"Camera Speed when not using LookingGlass:"=2.0
    B:"Craftable Limited Use keycard?"=true
    B:"Craftable level 1 keycard?"=true
    B:"Craftable level 2 keycard?"=true
    B:"Craftable level 3 keycard?"=true
    B:"Craftable level 4 keycard?"=true
    B:"Craftable level 5 keycard?"=true
    B:"Craftable mines?"=true
    B:"Darker reinforced block textures?"=true

    # Setting this to false disables the ability of the Universal Block Reinforcer to (un-)reinforce blocks that are placed in the world.
    B:"Disable In-world Un-/reinforcing"=true
    B:"Display a 'tip' message at spawn?"=false
    B:"Display owner face on retinal scanner?"=true
    B:"Do mines' explosions break blocks?"=true
    B:"Enable team ownership?"=false

    # Defines the damage that a block requiring a passcode deals to the player, if the player enters an incorrect code. This only works if a harming module is installed.
    # Default is two hearts of damage.
    # Min: 1
    # Max: 2147483647
    I:"Incorrect Passcode Damage"=4
    I:"Inventory Scanner range:"=2
    B:"Is admin tool allowed?"=false
    B:"Is codebreaker allowed?"=true

    # Defines the damage inflicted to an entity if it passes through a laser with installed harming module. This is given in health points, meaning 2 health points = 1 heart
    # Min: 0.0
    # Max: 1.7976931348623157E308
    D:"Laser damage"=10.0
    I:"Laser range:"=5

    # Min: 1
    # Max: 2147483647
    I:"Maximum Alarm range:"=100
    B:"Mine(s) spawn fire when detonated?"=true
    B:"Mines explode when broken in Creative?"=true
    B:"Mines use a smaller explosion?"=false

    # Defines the amount of time in milliseconds that needs to pass between two separate attempts from a player to enter a passcode.
    # Min: 0
    # Max: 2000
    I:"Passcode Check Cooldown"=250

    # The warning that is sent into the server log whenever a player tries to enter a passcode while on passcode cooldown. "%1$s" will be replaced with the player's name, "%2$s" with the passcode-protected object's name and "%3$s" with the object's position and dimension.
    S:"Passcode Spam Log Warning"=Player "%1$s" tried to enter a passcode into "%2$s" at position [%3$s] too quickly!

    # Set this to false to disable the log warning that is sent whenever a player tries to enter a passcode while on passcode cooldown.
    B:"Passcode Spam Log Warning Enabled"=true

    # Min: 0.0
    # Max: 1.7976931348623157E308
    D:"Powered taser damage"=2.0

    # Add effects to this list that you want the powered taser to inflict onto the mobs it hits. One entry corresponds to one effect, and is formatted like this:
    # effect_namespace:effect_path|duration|amplifier
    # Example: The entry "minecraft:slowness|20|1" defines slowness 1 for 1 second (20 ticks = 1 second).
    S:"Powered taser effects" <
        minecraft:weakness|400|5
        minecraft:nausea|400|5
        minecraft:slowness|400|5
     >
    B:"Prevent reinforced floor glitching?"=false

    # Set the amount of damage the player receives when they are suffocating in a reinforced block. The default is two and a half hearts. If the value is set to -1, vanilla suffocation damage will be used.
    # Min: -1
    # Max: 2147483647
    I:"Reinforced Suffocation Damage"=5

    # Set the color that reinforced blocks' textures have when reinforced_block_tint is enabled. This cannot be overridden by servers, and will be applied the same to all blocks. Grayscale values look best.
    # Format: 0xRRGGBB
    # Min: 0
    # Max: 16777215
    I:"Reinforced block tint color"=10066329
    B:"Respect invisibility?"=false

    # Add entities to this list that the Sentry currently does not attack, but that you want the Sentry to attack. The denylist takes priority over the allowlist.
    S:"Sentry Attackable Entities Allowlist" <
     >

    # Add entities to this list that the Sentry currently attacks, but that you want the Sentry to NOT attack. The denylist takes priority over the allowlist.
    S:"Sentry Attackable Entities Denylist" <
     >

    # Set the amount of damage the default Sentry bullet inflicts onto the mobs it hits. This will not affect other projectiles the Sentry can use, like arrows.
    # Default is one heart.
    # Min: 0
    # Max: 2147483647
    I:"Sentry Bullet Damage"=2
    B:"Should check for updates on Github?"=false

    # Min: 0.0
    # Max: 1.7976931348623157E308
    D:"Taser damage"=1.0

    # Add effects to this list that you want the taser to inflict onto the mobs it hits. One entry corresponds to one effect, and is formatted like this:
    # effect_namespace:effect_path|duration|amplifier
    # Example: The entry "minecraft:slowness|20|1" defines slowness 1 for 1 second (20 ticks = 1 second).
    S:"Taser effects" <
        minecraft:weakness|200|2
        minecraft:nausea|200|2
        minecraft:slowness|200|2
     >

    # This list defines in which order SecurityCraft checks teams of players to determine if they're on the same team, if "enable_team_ownership" is set to true. First in the list means it's checked first.
    # SecurityCraft will continue checking for teams down the list until it finds a case where the players are on the same team, or the list is over. E.g. Given the default config, if FTB Teams is installed but the players do not share a team, the mod checks if the same players are on the same vanilla team.
    # Removing an entry makes the mod ignore that kind of team. Valid values are "FTB_TEAMS" and "VANILLA".
    S:"Team Ownership Precedence" <
        FTB_TEAMS
        VANILLA
     >
    B:"Trick scanners with player heads?"=false

    # The chance for the codebreaker to successfully hack a block. 0.33 is 33%. Set to a negative value to disable the codebreaker.
    # Using the codebreaker when this is set to 0.0 will still damage the item, while negative values do not damage it.
    # Min: -1.0
    # Max: 1.0
    D:codebreaker_chance=0.33
}


